<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <input type="text"></input>
    <p>로또 정보</p>
    <div><%= no1 %></div>
    <div><%= no2 %></div>
    <div><%= no3 %></div>
    <div><%= no4 %></div>
    <div><%= no5 %></div>
    <div><%= no6 %></div>
    <div><%= bonus %></div>
  </body>
</html>
