<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <input type="text"></input>
    <p> <%= drwNo %> 회차 로또 정보</p>
    <div>1등 당첨금 : <%= firstWinamnt %></div>
    <div>1 : <%= no1 %></div>
    <div>2 : <%= no2 %></div>
    <div>3: <%= no3 %></div>
    <div>4 : <%= no4 %></div>
    <div>5: <%= no5 %></div>
    <div>6: <%= no6 %></div>
    <div>보너스 : <%= bonus %></div>
  </body>
</html>
